<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Flights</title>
    <link rel="stylesheet" href="style.css">
    <script src="js/script.js" defer></script>
</head>

<%- include('../partials/header'); %>

<body id="upcoming-flights-page">
    <main id="flights-container">
        <% LaunchDataArray.forEach(function(launch) { %>
            <div>
            <li>
              <strong><%= launch.name %></strong>
              <strong><%= launch.provider%></strong>
              <strong><%= launch.date%></strong>
              <strong><%= launch.time%></strong>
            </li>
        </div>
          <% }); %>
        <!-- Flight grid items will be dynamically inserted here -->
    </main>
    <footer>
        <p>&copy; 2024 Space Launches</p>
    </footer>
</body>
</html>